.Button1 {
  color: rgb(38, 153, 153);
  width: 100px;
  border-radius: 50px;
  border: solid;
  margin-bottom: 20px;
}
.Button2 {
  background-color: rgb(11, 194, 194);
  color: antiquewhite;
  display: block;
  height: 30px;
  width: 30px;
  border: rgb(11, 194, 194);
  border-radius: 30px;
  margin-bottom: 20px;
}
.Button3 {
  background-color: royalblue;
  color: seashell;
  border-color: black;
  width: 130px;
  box-shadow: 2px 2px 2px 1px rgb(0, 0, 0);
}
